USE [master]
GO
/****** Object:  Database [db_toko_laptop_tugas]    Script Date: 09/04/2025 04:51:41 ******/
CREATE DATABASE [db_toko_laptop_tugas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_toko_laptop_tugas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_toko_laptop_tugas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_toko_laptop_tugas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_toko_laptop_tugas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_toko_laptop_tugas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_toko_laptop_tugas]
GO
/****** Object:  Table [dbo].[BillDetailTbl]    Script Date: 09/04/2025 04:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetailTbl](
	[BillDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 09/04/2025 04:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[BNum] [int] IDENTITY(1,1) NOT NULL,
	[BDate] [date] NOT NULL,
	[CustId] [int] NOT NULL,
	[CustName] [varchar](255) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[Amt] [int] NOT NULL,
	[PaymentStatus] [varchar](50) NOT NULL,
	[PaymentProof] [varchar](255) NULL,
	[PaymentDate] [datetime] NULL,
	[DeliveryStatus] [varchar](50) NOT NULL,
	[DeliveryAddress] [varchar](255) NULL,
	[DeliveryFee] [int] NOT NULL,
	[TotalAmt] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTbl]    Script Date: 09/04/2025 04:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTbl](
	[CustId] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[CustAdd] [varchar](50) NOT NULL,
	[CustPhone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryRateTbl]    Script Date: 09/04/2025 04:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryRateTbl](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[Zone] [varchar](100) NOT NULL,
	[BaseRate] [int] NOT NULL,
	[AdditionalPerKg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryTrackingTbl]    Script Date: 09/04/2025 04:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryTrackingTbl](
	[TrackingId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrackingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 09/04/2025 04:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[EmpNum] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[EmpAdd] [varchar](255) NOT NULL,
	[EmpDOB] [date] NOT NULL,
	[EmpPhone] [varchar](50) NOT NULL,
	[EmpPass] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 09/04/2025 04:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[PrId] [int] IDENTITY(1,1) NOT NULL,
	[PrName] [varchar](255) NOT NULL,
	[PrCat] [varchar](255) NOT NULL,
	[PrQty] [int] NOT NULL,
	[PrPrice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillTbl] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[BillTbl] ADD  DEFAULT ('Pending') FOR [DeliveryStatus]
GO
ALTER TABLE [dbo].[BillTbl] ADD  DEFAULT ((0)) FOR [DeliveryFee]
GO
ALTER TABLE [dbo].[DeliveryTrackingTbl]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[BillTbl] ([BNum])
GO
ALTER TABLE [dbo].[DeliveryTrackingTbl]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[EmployeeTbl] ([EmpNum])
GO
USE [master]
GO
